.navbar {
    z-index: 100;
    background-color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 5vh;
    padding-top: 0rem;

    &__navigation {
        display: flex;
        align-items:center;
        height: inherit;
        width: 100%;
        

        &__title {
            padding-left: 10px;
            text-decoration: none;
        }
        
        &__link {
            padding-right: 10px;
            text-decoration: none;
            color: #F7EECD;
            font-size: 2.5vh;
            
        }

        &__spacer {
            flex: 1;
        }
    }
}